@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply font-rubik;
  }
  img,
  span,
  a,
  svg,
  button {
    @apply inline-block transition-all duration-300 ease-in-out;
  }
  a {
    @apply text-themeCyan;
  }
  /* Apply custom focus outline to form items */
  input:focus,
  select:focus,
  textarea:focus {
    @apply outline-themeCyan;
  }
}
@layer components {
  /* Auth module styles starts*/
  .authFormInput {
    @apply bg-lightGray block h-[58px] w-full px-4 rounded disabled:text-[#b7b7b7] disabled:cursor-not-allowed text-sm;
  }
  .authFormLabel {
    @apply text-sm text-grayMd font-medium capitalize pb-2 block pt-[30px];
  }
  /* Auth module styles ends*/

  /* layout module styles */
  .menu-item {
    background: linear-gradient(90deg, transparent 0%, transparent 100%);
  }
  .sidebarIcon {
    font-size: 24px;
    line-height: 1;
    transition: none;
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
  }
  .menu-item {
    border-radius: 4px;
    color: #8f95b2;
  }
  .menu-item:hover {
    background: linear-gradient(90deg, #0db7e2 0%, #21d099 100%);
    color: #fff;
  }

  /* layout module styles */
}
@layer utilities {
  .row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
  }
  .no-gutters {
    margin-right: 0;
    margin-left: 0;
  }

  .no-gutters > .col,
  .no-gutters > [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
  }
  .col-1 {
    @apply w-1/12 px-[15px];
  }
  .col-2 {
    @apply w-2/12 px-[15px];
  }
  .col-3 {
    @apply w-3/12 px-[15px];
  }
  .col-4 {
    @apply w-4/12 px-[15px];
  }
  .col-5 {
    @apply w-5/12 px-[15px];
  }
  .col-6 {
    @apply w-6/12 px-[15px];
  }
  .col-7 {
    @apply w-7/12 px-[15px];
  }
  .col-8 {
    @apply w-8/12 px-[15px];
  }
  .col-9 {
    @apply w-9/12 px-[15px];
  }
  .col-10 {
    @apply w-10/12 px-[15px];
  }
  .col-11 {
    @apply w-11/12 px-[15px];
  }
  .col-12 {
    @apply w-full px-[15px];
  }
  .offset-1 {
    @apply ml-[8.333%];
  }
  .offset-2 {
    @apply ml-[6.6666667%];
  }
  .offset-3 {
    @apply ml-[25%];
  }
  .offset-4 {
    @apply ml-[33.333333%];
  }
  .offset-5 {
    @apply ml-[41.666667%];
  }
  .theme-transition {
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
  }
}
